.global-header {
    margin-top: 10px;
}

.side-menu {
    background-color: white;
    box-shadow: 0px 0 3px rgba(10, 10, 10, 0.10);
}

.order {
    padding: 10px;
}

.order-products {
    height: 250px;
    overflow-y: scroll;
}

.order-discount-placeholder {
    height: 200px;
}

.card{
    border: 1px solid #FAFAFA;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(10,10,10,0.10);
    margin-bottom: 10px;
}

.card-body {
    padding: 10px;
}

.header {
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #CECECE;
}

.text-right {
    text-align: right;
}

.btn-block {
    width: 100%;
    text-align: center
}